<h3 class="caption__shop">Shopping cart</h3>

{{#if orderItems.length }}

	<ul class="selected-phones">
		{{#each orderItems as |item| }}
			<li class="selected-phone">{{{ item }}}</li>
		{{/each}}
	</ul>

{{else}}
	<p class="empty_backet">No items yet!</p>
{{/if}}